In [4]:
import pandas as pd

In [ ]:
data = pd.read_csv( 'datasets/kc_house_data.csv' )

# Primeiro contato com .groupby

In [10]:
# Quantos imoveis existem por numero de quartos
    # forma de fazer nao inteligente, ja que tem como ter tantos tipos distintos 
    # que nao vai ser possivel fazer isso
print(data[data[['bedrooms']]['bedrooms'] == 0].shape)
print(data[data[['bedrooms']]['bedrooms'] == 1].shape)
print(data[data[['bedrooms']]['bedrooms'] == 2].shape)
print(data[data[['bedrooms']]['bedrooms'] == 3].shape)
print(data[data[['bedrooms']]['bedrooms'] == 4].shape)

(13, 21)
(199, 21)
(2760, 21)
(9824, 21)
(6882, 21)

In [14]:
# esse metodo .goupby é para justamnente fazer o qeu estavamos querendo
 # contar quantos apartamentos tem em cada quantidade de quartos

data[['id','bedrooms']].groupby( 'bedrooms' ).size()

bedrooms
0       13
1      199
2     2760
3     9824
4     6882
5     1601
6      272
7       38
8       13
9        6
10       3
11       1
33       1
dtype: int64

In [21]:
df_grouped = data[['bedrooms']].groupby( 'bedrooms' )

In [22]:
# Como ir printando mais bonito na tela a nossas ideia acima

for bedrooms, frame in df_grouped :
    print( 'numero de quartos: {}'.format( bedrooms ) )
    print( frame.shape, end='\n\n' )

numero de quartos: 0
(13, 1)

numero de quartos: 1
(199, 1)

numero de quartos: 2
(2760, 1)

numero de quartos: 3
(9824, 1)

numero de quartos: 4
(6882, 1)

numero de quartos: 5
(1601, 1)

numero de quartos: 6
(272, 1)

numero de quartos: 7
(38, 1)

numero de quartos: 8
(13, 1)

numero de quartos: 9
(6, 1)

numero de quartos: 10
(3, 1)

numero de quartos: 11
(1, 1)

numero de quartos: 33
(1, 1)

In [ ]:
 for bedrooms, frame in df_grouped :
    print( 'numero de quartos: {}'.format( bedrooms ) )
    print( frame.head(4), end='\n\n' )

# Respondendo as perguntas do CEO

   ## Qual o numero de imoveis por ano de construçao?

In [26]:
# Sempre ter em mente duas coisas, quem é operador e quem é o filtro( nesse caso é o imoveis e ano de construçao ) )
data[['id','yr_built']].groupby( 'yr_built' ).count()

           id
yr_built
1900       87
1901       29
1902       27
1903       46
1904       45
...       ...
2011      130
2012      170
2013      201
2014      559
2015       38

[116 rows x 1 columns]

## Qual o menor numero de quartos por ano de construçao dos imoveis?

In [ ]:
# Agora o operador é bedrooms e filtro é o ano denovo
data[['id','yr_built']].groupby( 'yr_built' )