# Listas

In [23]:
# Estruturas de dados - Lista
# posiçao da lista

# [ 2,3,4,5,6,7,8 ] -> valores
# [ 0,1,2,3,4,5,6 ] -> posiçoes

# Lista de numeros
a = [ 2,3,4,5,6,7,8 ]

# Lista de String
b = [ 'seja', 'um', 'cientista', 'de', 'dados' ]

# Lista de String + numeros
c = [ 'seja', 1, 'cientista', 10, [10,'dua',41] ]

# Como adicionar um novo elemento na lista
c.append( 50 ) # Sempre Coloca o elemento no final da lista

c.insert( 10, 40 ) # Sempre colocar o elemento na posicao desejada ( posicao, elemento )

# Como medir o tamanho da lista
print( c )
len( c )

# Criar lista vazia
d = []

['seja', 1, 'cientista', 10, [10, 'dua', 41], 50, 40]

7

In [21]:
print(b[2])
print( c[4][2])
print(c[0:7])

cientista
41
['seja', 1, 'cientista', 10, [10, 'dua', 41], 50, 40]

# Estrutura de controle - Condicional

In [ ]:
# Condicionais que temos:
# igual
# maior
# maior ou igual 
# menor 
# menor ou igual

In [24]:
import pandas as pd

In [30]:
data = pd.read_csv( 'C:/Users/PICHAU/Desktop/AnaliseDeDados/DataAnalysis/datasets/kc_house_data.csv' )

In [35]:
# Logicas E( and )
# Logica de multiplicaçao

# Bedrooms | floors
# TRUE     | TRUE -> Resultado
# TRUE     | FALSE -> ERRO

# Logicas OU( or )
# Logica de multiplicaçao

# Bedrooms | floors
# TRUE     | TRUE -> Resultado
# TRUE     | FALSE -> ERRO


df = data[(data['bedrooms'] == 4) & (data['floors'] == 2.0)]
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
29,1873100390,20150302T000000,719000.0,4,2.5,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026